body {
  font-family: sans-serif;
  background: #eee;
  text-align: center;
  margin: 10px 15px;
  padding: 0px;
}

h1 {
  margin-top: 0px;    /* réduit l’espace au-dessus du titre */
  margin-bottom: 0px;  /* réduit l’espace sous le titre */
  line-height: 1.1;    /* optionnel, rapproche les lignes si multi-lignes */
}

canvas {
  border: 2px solid #333;
  background: white;
  margin-top: 0px;
  cursor: pointer;
}

#controls {
  margin-bottom: 10px;
}

#trash {
  display: inline-block;
  font-size: 24px;
  margin-left: 20px;
  background: #fdd;
  padding: 5px 10px;
  border: 2px solid #900;
  border-radius: 6px;
}
